{% extends "layouts/base.html" %} {% block title %}Beranda{% endblock %} {% block
content %}
<div class="max-w-2xl mx-auto bg-white p-6 rounded-xl shadow">
  <h1 class="text-3xl font-bold mb-4">Sistem Retrieval Analytic</h1>
  <p class="text-lg text-gray-700 text-justify">
    <b>Sistem Retrieval Analitic </b>adalah Sistem Retrieval Analitik adalah sistem yang dirancang untuk mengekstraksi dan menyajikan informasi relevan dari sekumpulan data atau dokumen, berdasarkan query pengguna. Berbeda dari pencarian biasa yang hanya mencocokkan kata kunci, sistem ini menerapkan pendekatan analitik untuk mengevaluasi konteks, frekuensi, relevansi, dan bobot informasi.

Dalam sistem ini, algoritma seperti TF-IDF, BM25, atau bahkan model berbasis vektor dan pembelajaran mesin digunakan untuk menghitung relevansi antara query dan dokumen. Sistem ini sangat bermanfaat dalam pencarian dokumen, analisis data teks, pemrosesan bahasa alami (NLP), serta sistem rekomendasi berbasis konten.

Tujuan utama dari retrieval analitik adalah membantu pengguna menemukan jawaban atau wawasan yang paling sesuai dengan kebutuhan mereka, bukan sekadar dokumen yang mengandung kata kunci.
  </p>
</div>
{% endblock %}
