{% extends "layouts/base.html" %} {% block title %} {{ title }}  {% endblock %} {% block
content %}
<div class="max-w-2xl mx-auto bg-white p-6 rounded-xl shadow">
  <h1 class="text-3xl font-bold mb-4">Form Retrieval Analytic</h1>
  <p class="text-lg text-gray-700 text-justify">
     {% if message %}
    <div class="mb-4 p-3 bg-green-100 text-green-800 rounded">{{ message }}</div>
  {% endif %}
    <form action="/retrieval-analytic-proccess" method="post" enctype="multipart/form-data" class="space-y-4">
    <div>
         <div class="mb-4">
                <label for="query" class="block text-gray-700 font-medium mb-2">Kata Kunci:</label>
                <input
                    type="text"
                    name="query"
                    id="query"
                    required
                    placeholder="Contoh: hak pekerja"
                    class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
                />
            </div>
    </div>
    <div>
      <button type="submit"
              class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 transition">
        Proses
      </button>
    </div>
  </form>

  
  
  </p>
</div>
{% endblock %}
